@use './colors' as v;

body {
  font-family: 'Lato', sans-serif;
}

.main-app {
  background-color: v.$seasalt;
}

.title {
  color: v.$title-color;
}

.subtitle {
  color: v.$subtitle-color;
}

.text-base {
  font-family: 'Lato', sans-serif !important;
  color: v.$white !important;

  &__black {
    color: v.$black !important;
  }
}
