$hunyadi-yellow: #eca539;
$fire-brick: #c00e20;
$imperial-red: #f22539;
$jet: #353535;
$davys-gray: #5e5e5e;
$silver: #bfbfbf;
$platinum: #e8e8e8;
$white-smoke: #f5f5f5;
$seasalt: #f9f9f9;

$title-color: $jet;
$subtitle-color: $davys-gray;
